body {
    margin: 0 auto;
    padding: 0;
    background-color: #050505;
    max-width: 460px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

.terug {
    text-align: right;
    padding: 20px;
}

.terug a {
    color: white;
    text-decoration: none;
}

.terug a:hover {
    color: yellow;
}
