body {
    margin: 0 auto;
    padding: 0;
    max-width: 460px;
    background-color: #050505;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    font-size: 36px;
    margin: 20px;
    color: yellow;
    font-weight: bold;
}

.terug {
    text-align: right;
    padding: 20px;
}

.terug a {
    color: white;
    text-decoration: none;
}

.terug a:hover {
    color: yellow;
}

.aflevering {
    margin: 10px 10px 50px;
}

.nummer {
    font-size: 20px;
    margin-bottom: 10px;
}

.punten {
    border: 2px solid #071A18;
    border-radius: 10px;
    color: gray;
    margin: 5px 20px;
    padding: 10px;
}

span {
    color: white;
    font-weight: bold;
}

.inzet {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.kandidaat img {
    width: 50px;
    border-radius: 25px;
}

.uit img {
    filter: grayscale(1);
}

.kandidaat p {
    text-align: center;
    margin-top: 5px;
    color: #00FF00;
    font-weight: bold;
    font-size: 18px;
}

.kandidaat div {
    text-align: center;
    font-size: 12px;
}

.uit p {
    color: red;
}