body {
    margin: 0 auto;
    padding: 0;
    max-width: 460px;
    background-color: #071A18;
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

a:hover {
    color: yellow;
}

header {
    font-size: 30px;
    margin-bottom: 30px;
}

.kandidaten {
    font-size: 22px;
}

ul {
    text-align: left;
    list-style-type: circle;
}

li {
    margin: 20px;
}

li div {
    margin-top: 5px;
    color: grey;
}